    
    <div class="card-product">
      <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
      <div class="card-product-infos">
        <h2>
          <%= invite.first_name.upcase %>
          <% if invite.child == true %>
            <i class="fas fa-baby"></i>
          <% end %>
        </h2>
        <%# début du form%>
        <%= simple_form_for [user, invite, presence],
      wrapper: :horizontal_form,
      wrapper_mappings: {
        boolean:       :horizontal_boolean,
        check_boxes:   :horizontal_collection_inline,
        date:          :horizontal_multi_select,
        datetime:      :horizontal_multi_select,
        file:          :horizontal_file,
        radio_buttons: :vertical_collection_inline,
        range:         :horizontal_range,
        time:          :horizontal_multi_select
      } do |f| %>
          <%= f.error_notification %>
          <div class="card-details d-flex">
            <% if invite.allowedbefore == true %>
              <div class="bloc2 mr-5">
                <%= f.input :nuit_jeudi, label:  "Je suis là jeudi", as: :radio_buttons %>
                <%= f.input :nuit_vendredi, label: "Je suis là vendredi", as: :radio_buttons %>
              </div>
            <% end %>

            <div class="bloc1">
            <% if invite.child == true %>
              <%= f.input :samedi_pm,label: "Samedi après-midi", as: :radio_buttons, error: 'obligatoire'%>
              <%= f.input :mariage,label: "Soirée mariage (t'es sûr ?)", as: :radio_buttons, error: 'obligatoire'%>
              <%= f.input :nuit_samedi, label: "Nuit du samedi (non vraiment ?)", as: :radio_buttons, error: 'obligatoire'%>
                            <% if invite.allowedrebond == true %>
                <%= f.input :rebond, label:  "Dimanche midi", as: :radio_buttons %>
              <% end %>
            <% else %>
              <%= f.input :mariage,label: "Je viens au mariage", as: :radio_buttons, error: 'obligatoire'%>
              <%= f.input :nuit_samedi, label: "Je dors samedi (lit dortoir ou tente)", as: :radio_buttons, error: 'obligatoire'%>
                            <% if invite.allowedrebond == true %>
                <%= f.input :rebond, label:  "Je viens dimanche midi", as: :radio_buttons %>
              <% end %>
            <% end %>
            </div>
          </div>
        
          <%= f.button :submit,"Valider", class: "btn btn-outline-primary" %>
        <% end %>
        <%# fin du form%>
        <%# fin de card-product info %>
      </div>
    </div>
