<div class="container">
  <div class="container-form">
    <div class="row justify-content-md-center">
      <div class="col-12 align-items-center">
        <h2>Welcome</h2>
      </div>
      <div class="col-12 col-sm-6 col-md-8 text-center">

        <div class="form-inputs">
          <%= simple_form_for [@user, @invite],
          wrapper: :horizontal_form,
          wrapper_mappings: {
            boolean:       :horizontal_boolean,
            check_boxes:   :horizontal_collection_inline,
            date:          :horizontal_multi_select,
            datetime:      :horizontal_multi_select,
            file:          :horizontal_file,
            radio_buttons: :horizontal_collection_inline,
            range:         :horizontal_range,
            time:          :horizontal_multi_select
          } do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name, label: "Prénom", required: true%>
          <%= f.input :last_name, label: "Nom", required: true%>
          <%= f.input :email, required: false%>
          <%= f.input :child, label: "Est-ce un enfant ?", as: :radio_buttons, required: false%>
          <div class="col-12 text-center">
            <%= f.button :submit, class: "btn btn-ghost" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>